
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    function isAdmin() {
      // Make sure to replace this with your actual admin email in a real environment
      return request.auth.token.email == "admin@test.com";
    }

    match /users/{userId} {
      allow read: if request.auth.uid == userId || isAdmin();
      allow write: if request.auth.uid == userId;

      match /orders/{orderId} {
        allow read, create: if request.auth.uid == userId || isAdmin();
        allow update, delete: if request.auth.uid == userId || isAdmin();
      }
    }
  }
}
